* {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

p {
  font-size: 0.75rem;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */

header ul {
  background-image: url('../images/spoons.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header ul li {
  list-style: none;
}

header ul li a:hover {
  text-decoration: none;
}